* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    background-color: rgb(32, 32, 53);
    color: white;
    font-family: "Poppins";
    min-height: 100%;
}





nav {
    background-color: #33335e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(132, 105, 184);
    text-decoration: none;
}

ul li{
    text-decoration: none;
}


.left{
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
font-size: 22px;}

.leftSection .button {
    display: flex;
    padding: 50px 2px;
}

.leftSection .button .btn {
    text-decoration: none;
    color: white;
    margin: 4px;
    width: 186px;
}

.leftSection .btn {
    background: #3c218b;
    color: white;
    font-size: 18px;
    border: 2px solid;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 50%;
}

.rightSection img {
    width: 100%;
}

.text-yellow {
    color: yellowgreen;
}


.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 60vh;

}

.hr{
    margin: 40px 80px;
    padding: 10px;

}

.text-gray{
    color: gray;
}

.secondSection h1{
    font-size: xx-large;
}

main{
    height: 280vh;
    padding: 20px;
}

.top-image{
    width: 38px;
    top: 37px;
    left: -42px;
}

.desc-image .img{
    width: 30px;
    height: 30px;
    top: 8px;
    left: -27px;

}

.mainpt{
    font-size: 18px;
    text-decoration: underline;
    color: rgb(159, 159, 230);
}

.vertical-title{
    color: #E8E884;
}

ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul img{
    width:20px;
    height: 20px;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #33335e;
    color: white;
    width: 100%;

}

